@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", 'sans-serif';
    background-color: #f5f5f9;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.admin-table table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.admin-table table td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.admin-table table tr:nth-child(even) {
    background-color: #dddddd;
}